.analysis-canvas{
    display: block;
    position: fixed;
    width: 40%;
    height: 100vh;
    left: 0%;
    background-color: red;
}

.main-canvas{
    position: fixed;
    display: block;
    height: 100vh;
    width: 60%;
    right: 0%;
  }

.analysis-tp{
    left: 10%;
    top: 30%;
    position: fixed;
    background-color: aliceblue;
    z-index: 7;
    width: 200px;
    height: 100px;
}