.colorbar{
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 60px;
    width: 40%;
    max-width: 450px;
    transform: translateX(-50%);
    user-select: none;
}

.colorbar canvas{
    border-radius: 4px;
    width: 100%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.158); 
    cursor: all-scroll;
}

.colorbar p{
    font-weight: 500;
    background: var(--glass-bg);
    backdrop-filter: blur(10px) saturate(180%);
    border-radius: 4px;
    padding: 0 4px;
}

.colorbar-title {
    white-space: nowrap;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  

@media (max-width: 768px) {
    .colorbar {
        width: 75%;
    }
}