.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: fixed;
    bottom: 0;
    font-size: 13.5px;
    padding: 0.5rem 1rem;
    width: 100%;
    height: 48px;
    background: var(--glass-bg);
    backdrop-filter: blur(10px) saturate(180%);
    /* border: 1px solid var(--glass-border); */
    /* border-radius: 12px; */
    margin: 0;
    box-shadow: 0 4px 6px var(--glass-shadow);
}
.footer img {
    max-height: 36px;
    padding: 4px 12px;
}

[data-theme='light'] .footer img {
    filter: invert(0.8);
}

.footer p {
    margin: 0;
    flex: 1;
    text-align: center;
}
.footer span {
    margin: 0;
    text-align: center;
}
.footer a {
    position: relative;
    text-decoration: none;
    padding: 0 0.25rem;
}

.large-screen-logo {
    display: block;
}

.footer a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1.25px;
    bottom: 0;
    left: 0;
    background-color: rgb(205, 193, 193);
    transition: width 0.3s;
}


.footer a:hover::after {
    width: 100%;
}

.small-screen-logo {
    display: none;
}
.expandable-text {
    display: flex;
    flex: 1;
    white-space: nowrap;
    justify-content: flex-end;
    margin-right: 8px;
    text-align: right;
}

/* Responsive design for screens below 600px */
@media (max-width: 600px) {
    .footer {
        display: none;
    }
}
