.metadata{
    position: absolute;
    width: 250px;
    max-height: 400px;
    font-size: 12px;
    left: 10px;
    top: 50px; 
    background-color: var(--background-plot);
    color: var(--text-plot);
    padding: 10px;
    border-radius: 10px;
    overflow-wrap: break-word;
    overflow-y: auto;
}
.metadata p {
    font-size: 12px;
    line-height: 1.2;
    margin: 0.2em 0;
}
