.middle-slider{
    position: fixed;
    height: 100vh;
    left: 40%;
    width: 15px;
    cursor: ew-resize;
    background: linear-gradient(to right, var(--background-modal), transparent);
    z-index: 6;
}