
.navbar {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  align-content: center;
  left: 0px;
  right: auto;
  top: 15%;
  transform: translateY(-15%);
  z-index: 1;
  user-select: none;
  background: var(--glass-bg);
  backdrop-filter: blur(10px) saturate(180%);
  /* border: 1px solid var(--glass-border); */
  border-radius: 12px;
  width: fit-content;
  height: auto;
  padding: 4px;
  gap: 16px;
  /* box-shadow: 0 4px 6px var(--glass-shadow); */
}

.navbar img {
  max-width: 36px;
  max-height: 36px;
  border-radius: 0.5rem;
}

.navbar ul {
    list-style: none;
    display:flex;
    gap: 1rem;
}

.navbar a {
    position: relative;
  }
  
.navbar a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-1);
  transition: width .3s;
}

.navbar a:hover::after {
  width: 100%;
}

.navbar-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 12px;
}

.nav-dropdown {
  margin-left: 8px;
}