.lineplot-tab{
    width: 100px;
    background: var(--background-plot);
    height: 24px;
    position: fixed;
    z-index: 3;
    left: calc(50% - 50px);
    bottom: calc(100% - 12px);
    cursor: pointer;
    border-radius: 4px;
    bottom: -8px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 2px var(--foreground);
}



.plottab-line{
    position: relative;
    height: 1px;
    width: 85%;
    background: var(--foreground);
    margin-bottom: 4px;
    box-shadow: inset 0px 0px 2px var(--background);
}